/* Define the CSS variables in the document :root pseudo-class selector 
from the color scheme you have selected and documented in this week's site plan/graphic identity
 assignment.
Begin by styling the headings and paragraph elements.
Add colors to the fonts.*/
:root {
    --primary-color: #ffb703;
    --secondary-color: #0a4c65;
    --accent1-color: #219ebc;
    --accent2-color: #8ecae6;
    /*https://coolors.co/8ecae6-219ebc-0a4c65-ffb703*/
    --font-family: "Roboto", sans-serif;
  }

h1 {
  background-color: var(--secondary-color);
  color: var(--accent2-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-style: bold;
  position: absolute;
  top: 40px;
  left: 40px;

}

h2 {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--accent2-color);
  background-color: var(--secondary-color);
}

p {
  color: ;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

article {
  position: absolute;
}

body{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a[nav] {
  text-decoration: none;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

article {
  position: absolute;
  float: left;
  margin-right: 10px;
  clear:both;
  display:block;
  background-color: var(--accent1-color);
  opacity: 0.5
  }
  img[customer]{
    float: right;
  }